body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(71, 129, 156);
    
  }
  
  form {
    margin: 20px auto;
    width: 400px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    color: #090f11;
  }

  #departamento {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

  }
  

  #nome {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

  }

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #213f5f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #status {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }